body{
    background-image: url("back.jpg");
    background-size:100%;
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
}
.hbd{
    background-color: rgba(206, 101, 247, .3);
    color: white;
    font-weight: bold;
    width: 70%;
    height: 15vh;
    margin: auto;
    text-align: center;
    font-size: 30px;
    padding: 30px;
    border-radius: 10px;
}
.hbd-name{
margin-top: 20px;
}
.avtor{
    font-size: 30px;
    color: darkorange;
}
.text{
    padding: 15px;
    font-size: 20px;
    padding-left: 15px;
    color: deeppink;
}
.block{
background-color: white;
    border: 1px solid deeppink;
    border-radius: 20px;
    padding: 30px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}
hr{
    color: deeppink;
}
.form-control{
    width:60%;
margin: auto;
}
.center{
    margin: auto;
    margin-left: 20%;
}
.center img{
        width: 36%;
    height: 50vh;
}
img.hbd-img{
    float: left;
    width: 27%;
    margin: -26px;
    margin-left: 20px;
    height: 160px;
}