<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
<div class="hbd">
    <div class="hbd-img"><img class="hbd-img" src="https://avatars.mds.yandex.net/get-pdb/199965/54512ca4-5fce-4e98-bb89-016ab2fb4334/s1200" alt=""></div>
    <div class="hbd-name">Магзумова Нұргүл Төлендіқызы</div>
</div>
<div class="center">
    <a href="{% url 'lists' %}"><img class="center" src="{% static 'bd.png' %}" alt=""></a>
    </div>
</body>
</html>